







 :root {
  --ff: "Oswald", sans-serif;
  --league: "League Spartan", sans-serif;

  --cc: #000080;
  --wht:#f0e68c;
  --btn: #rgb(128, 128, 128);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--league);
  background: rgb(0,0,128);
  background: linear-gradient(90deg, rgba(0,0,128,1) 60%, rgba(0,212,255,1) 100%);
}

a {
  text-decoration: none;
  color: var(--btn);
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  font-family: var(--ff);
  justify-content: space-between;
}

.first_div {
  height: 20%;
  width: 29%;
}

.main_img_first_div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  object-fit: cover;
  padding-right: 16px;
  background-color: #000080;
}

.second_div {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  justify-content: space-between;
  align-items: center;
  height: 25%;
}

.second_div_logo {
  display: Block;
  padding: 14px;
  align-items: center;
  height: 25%;
  width: 100%;
}

.Logo {
  height: 30%;
  width: 20%;
  margin-left: -38%;
  background-color: #000080;
  border-radius: 95px;
  padding: 10px;
}

.second_div_logo h3 {
  margin-top: -22%;
  margin-left: -6%;
  font-size: 300%;
  font-weight: 400;
  color: #f0ead6;
  text-shadow: 
        -2px -2px 0 black, 
         2px -2px 0 black, 
        -2px  2px 0 black, 
         2px  2px 0 black;
}
.second_div_login h1{
 margin-top: 20%;
 color: aliceblue;
 text-shadow: 5px 5px 1px rgba(0, 0, 0 ,0.60);
}
.second_div_logo p{
  margin-left: 11%;
  margin-top: -4%;
  color: #f0ead6;
  text-shadow: 
        -2px -2px 0 black, 
         2px -2px 0 black, 
        -2px  2px 0 black, 
         2px  2px 0 black;
}



form {
  padding: 30px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0 ,0.15);
  
}

.password-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.password-input {
  padding: 10px;
  font-family: var(--ff);
  height: 24px;
  width: 360px;
  border-radius: 20px;
}

.password-input::placeholder {
  color: rgba(0, 0, 0 ,0.40);
}

.eye-icon {
  position: absolute;
  right: -40%;
  top: 40%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url('http://localhost/dashboard/fundation/public/img/eye.png');
  background-size: cover;
  cursor: pointer;
}

.password-container a {
  font-size: 150%;
  margin-left: 2%;
  padding-top: 5px;
  font-weight: 400;
  color: whitesmoke;
}

.seoncd_div_btn {
  display: flex;
  height: 20%;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.seoncd_div_btn button {
  font-style: "League Spartan", sans-serif;
  padding: 9px 25px;
  background-color: rgba(36, 37, 42, 1);
  border: none;
  border-radius: 50px;

  font-weight: 600;
  font-size: 150%;
  color: whitesmoke;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.seoncd_div_btn button:hover{
  background-color: rgba(0,136,169,0.8);
}
p{
  color: var(--wht);
  font-size: 28px;
  margin: -10px;
}
.second_DIV_NEWACC {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 10%;
  background-color: var(--cc);
}

.second_DIV_NEWACC a {
  font-size: 170%;
  color: var(--wht);
}

.header_alert,
.header_error {
  padding: 10px 15px 10px 15px;
  border: none;
  border-top-right-radius: 50px;  /* Top-right corner */
  border-bottom-right-radius: 50px;
  background-color: aliceblue;
  display: flex;
  align-content: center;
  justify-items: space-between;
  font-size: 120%;
  color: Red ;
}

/* RESPONSIVE STYLES */
@media (max-width: 1268px) {
  #main {
      flex-direction: column;
  }
  .form {
    margin: 0;
  }

  .first_div {
      width: 100%;
      height: auto;
  }

  .main_img_first_div {
    width: 100%;
    border-radius: 10px;
  }

  .second_div {
      margin-right: 0;
      height: auto;
  }

  .second_div_logo h3 {
      display: flex;
      flex-direction: column;
      font-size: 200%;
      margin-top: 0%;
      margin-left: 0%;
  }
  .second_div_login h3 {
      margin-top: 0%;
      margin-left: 0%;
  }

  .password-container {
      width: 70%;
      margin-left: 0;
  }

  .password-input {
      width: 100%;
      font-size: 150%;
  }

  .eye-icon {
      right: 10%;
  }

  .seoncd_div_btn button {
      width: 50%;
      font-size: 120%;
  }

   .seoncd_div_btn{
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .seoncd_div_btn button {
    margin-top: 2%;
      width: 70%;
      font-size: 100%;
  }

  .second_DIV_NEWACC a {
      font-size: 150%;
  }
  .first_div {
    display: none;
    height: 20%;
    width: 29%;
  }
}

@media (max-width: 480px) {
  .second_div_logo h3 {
      font-size: 180%;
  }
  .form {
    margin: 0;
  }
  .password-container {
      width: 70%;
  }

  .password-input {
      font-size: 120%;
  }

  .seoncd_div_btn{
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .seoncd_div_btn button {
    margin-top: 2%;
      width: 70%;
      font-size: 100%;
  }
   
  form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .first_div {
    display: none;
    height: 20%;
    width: 29%;
  }


}
